@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both; }
}



@mixin quickTips-item-style {
        color: #47787f;
        border-radius: 6px;
        background-color: white;
        box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
        cursor: pointer;
        transition:all .1s;

        &:hover {
            color: #2d46b6dc;
            transform: translateY(-1px);
            box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
        }

        
    }



@mixin PopupAbsPosMiddle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5) ;
}
