////############################# importing partial files ///////////////////////////

@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/animation";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "base/base"; 


@import "layout/header";
@import "layout/grid";
@import "layout/footer";
@import "layout/navigation";

@import "components/buttons";


@import "pages/home";
























