

.coupons-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include respond(phone-very-small) { margin: 0 1rem; }


    &__title {
        align-self: flex-start;
        display: flex;
        justify-content: center;
        align-items: center;

        @include respond(phone) {
            margin-left: 9%;
            margin-top: -1%;
        }

        @include respond(phone-very-small) { margin-left: 1%; }

        &__info-logo {
            cursor: pointer;
            margin-left: 1rem;
            height: 3rem;
            width: 3rem;
            fill : currentColor;

            & use { pointer-events: none; }
        }
    }

    .bitch {
        display: none;
        font-size: 1.3rem;}
}





