

.header {
    animation: 2s ease-out 0s 1 headerAnimation;
    clip-path: ellipse(71% 75% at 50% 25%);

    // clip-path: ellipse(53% 0% at 50% 25%); //start like this   

    background-color: #F3DE2E;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;     // centers elements along the cross axis
    justify-content: center; // centers elements along the main axis

    padding:2rem 20rem;

    &__logo {
        height: 5rem;
        margin-bottom: 2rem;
    }

    &__text-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
}













