


.header {
    clip-path: ellipse(71% 75% at 50% 25%);


    background-color: #F3DE2E;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;     // centers elements along the cross axis
    justify-content: center; // centers elements along the main axis

    padding:2rem 20rem;

    &__logo {
        height: 5rem;
        margin-bottom: 2rem;
    }

    &__text-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
}