
// remove the stupid dotted line on the buttons upon click ! well , in firefox
button::-moz-focus-inner {
    border: 0;
  }  



.button-primary {
    font-family: inherit;
    color: #fff;
    font-size: 1.5em;
    font-weight: 400;
    background-color: rgb(41,73,119);
    border-radius: 35px;
    padding:1rem 3.5rem;
    transition:all .1s;
    cursor: pointer;
    border:none;

    &:hover {
        transform: translateY(-1px);
        box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    }

    &:focus { outline: hidden; }
}


// ################################################################## IMPORTED ############################


.allButtons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    // align-items: center;

    & > *:not(:last-child) {
        margin-bottom: 5rem;
        // flex: 1;
        background-color: orangered;
        width: 100%;
    }
}

.btn {
    font-size: 2rem;
    text-transform: uppercase;
    padding: 1rem;
    border-radius: 7px;
    border: none;
    &:visited {
        outline: none;

    }
}



.goback {
    cursor: pointer;
    // it starts hidden.
    opacity: 0;
    visibility: hidden; 
}

.deleteAll {
    cursor: pointer;

     // it starts hidden.
     opacity: 0;
     visibility: hidden; 
}

.delete {
    flex: 0 0 0%;
    margin-top: 3rem;
    cursor: pointer;
    background-color: rgb(46, 212, 163);

    opacity: 0;
    visibility: hidden;
}       

.nextCoupon {
    cursor: pointer;

    // it starts hidden
    opacity: 0;
    visibility: hidden; 
}

.random {
    cursor: pointer;
    background-color: grey;

    // it starts hidden
    opacity: 0;
    visibility: hidden; 

}






























