
// remove the stupid dotted line on the buttons upon click ! well , in firefox
button::-moz-focus-inner {
    border: 0;
}  


.button-primary {
    font-family: inherit;
    color: #fff;
    font-size: 1.5em;
    font-weight: 400;
    background-color: rgb(41,73,119);
    border-radius: 35px;
    padding:1rem 3.5rem;
    transition:all .1s;
    cursor: pointer;
    border:none;

    &:hover {
        transform: translateY(-1px);
        box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    }

    &:focus { outline: hidden; }
}


.allButtons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    // align-items: center;

    & > *:not(:last-child) {
        margin-bottom: 5rem;
        // flex: 1;
        background-color: orangered;
        width: 100%;
    }
}

.btn {
    cursor: pointer;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 7px;
    border: none;
    transition: all  $main-transition-duration;
    font-family: 'Muli', sans-serif;


    &:visited {
        outline: none;

    }
}


.goback {
    position: absolute;
    left:0;
    top: -22%;
    background-color: transparent;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // it starts hidden.
    opacity: 0;
    visibility: hidden; 
    

}

.deleteAll {
    font-family: 'Muli', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;

    align-self: flex-start;
    color: #406094;
    cursor: pointer;

    // background-color: rgb(255, 72, 0);
    // flex: 0 0 20%;

    // width: 52%;
    margin-top: -5%;

    border: 1px solid yellowgreen;
     // it starts hidden.
    //  opacity: 0;
    //  visibility: hidden; 

    &__logo {
        margin-right: .75rem;
        fill : #406094;
        height: 3rem;
        width: 3rem;
    }
}

.delete {
    cursor: pointer;
    background-color: rgb(46, 212, 163);

    opacity: 0;
    visibility: hidden;
}       

.nextCoupon {
    background-color: #3a6197f5;
    border-radius: 100px;
    color: white;
    margin-top: 10rem;

    & span { margin-left: 1rem; }

    // it starts hidden
    opacity: 0;
    visibility: hidden; 
}

.doneFillingBtn {
    background-color: white;
    border-radius: 100px;
    color: #214374;
    margin-top: 2rem;
    cursor: not-allowed;

    &--activated {
        border:2px solid #F3DE2E;
        cursor: pointer;
        
    }

    & span { margin-left: 1rem; }
}































