
.costs {
    margin-top: 7rem;
    display: flex;
    justify-content: space-between;

    color: rgb(32, 104, 167);

    
    @include respond(phone) {
        // margin-left: auto;
         margin-top: 4rem;

        // display: none;
    }


    &__text {
        font-size: 2rem;

        & span {
            font-size: 1.2rem;
            margin-top: -2px;
        }

        & p {
            @include respond(phone) { line-height: 97%; }
        }
    }


    &__price {
        font-size: 3rem;
        color: #544C4C;

        @include respond(phone) {  margin-left: 5rem; }

    }

}


