
.quickTips {

    // display: flex;
    // flex-wrap: wrap;
    text-align: center;


    &__item {
        display: flex;
        justify-content: center;
        align-items: center;


        padding: 1rem 2rem;
        font-size: 1.65rem;

        &:not(:last-child) {
            margin-bottom: 1rem ;
        }
        
        @include quickTips-item-style;
    }

    &__logo {
        height: 2rem;
        width: 2rem;
        margin-right: .7rem;
        fill : currentColor;
        pointer-events: none;
    }
}
