

table {
    text-align: center;
    border-collapse: separate;
    margin: 0 auto;
    border-spacing: 1.5rem;

    tr {
    
    }


    .couponsGroup__poolNumber {
        background-color: white;
        color : rgb(115, 175, 224); 
        font-weight: 400;
        border-radius: 5px;
        font-size: 2.5rem;
        padding: 2vw;
    }
}