
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;

    // border: .2px solid rgba(0, 0, 0, 0.438);
    
}





html { // this defines what 1 rem is : 1rem = 10px
    // font-size: 62.5%;  /* this is the root font-size ! | and = 62.5% of the default browser font-size which is usually 16px ==> final value 10px */        
    font-size: 50%;  /* this is the root font-size ! | and = 62.5% of the default browser font-size which is usually 16px ==> final value 10px */        
    font-family: 'Roboto', sans-serif;

    @include respond(phone-very-small) { font-size: 45%; }

}


body { /* all the stuff in here , will be inherited to the child elements.*/
    box-sizing: border-box;
    background-color: #EAF0F5;
}



:root {
    --big-box-height :50rem;
    --big-box-width :50rem;

    @include respond(phone-very-small) {
        --big-box-height :43rem;
        --big-box-width :43rem;
    }
}
