
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;

    // border: 1px solid black;
}

html { // this defines what 1 rem is : 1rem = 10px
    font-size: 62.5%;  /* this is the root font-size ! | and = 62.5% of the default browser font-size which is usually 16px ==> final value 10px */        
}


body { /* all the stuff in here , will be inherited to the child elements.*/
    box-sizing: border-box;
}












