

.center-element { text-align: center;}



//Margins ##############################################################

.margin-bottom-small { margin-bottom: 1rem; }
.margin-bottom-medium { margin-bottom: 2rem; }
.margin-bottom-big    { margin-bottom: 4rem; }


.margin-left-very-small { margin-left: 0.5rem; }


.display-none {
    display: none !important;
}

.hide {
    visibility: hidden !important;
    opacity: 0;
}



.show {
    visibility: visible !important;
    opacity: 1 !important;
}

.showPopup {
    opacity: 1;
    visibility: visible !important;
    transform: translate(-50%, -50%) scale(1) !important;
}

.shrink-table {
    transform: scale(0.25);
}
