

.center-element { text-align: center;}



//Margins ##############################################################

.margin-bottom-small { margin-bottom: 1rem; }
.margin-bottom-medium { margin-bottom: 2rem; }
.margin-bottom-big    { margin-bottom: 4rem; }